---
import { formatDisplayDate } from "../utils/dates";

const { value } = Astro.props;
---

{
  value && (
    <p class="not-prose last-updated">
      Last updated <time datetime={value}>{formatDisplayDate(value)}</time>
    </p>
  )
}
