---
import { siteNavLinks } from "../data/siteContent";
---

<nav class="flex gap-4 whitespace-nowrap" aria-label="Primary navigation">
  {
    siteNavLinks.map((item) => (
      <a
        class="underline decoration-1 underline-offset-[6px] hover:decoration-2"
        href={item.href}
      >
        {item.label}
      </a>
    ))
  }
</nav>
