---
import { siteNavLinks } from "../data/siteContent";
---

<nav class="site-primary-nav" aria-label="Primary navigation">
  {
    siteNavLinks.map((item) => (
      <a class="site-link" href={item.href}>
        {item.label}
      </a>
    ))
  }
</nav>
