---
import { socialLinks } from "../data/siteContent";
---

<nav class="site-social-nav" aria-label="External links">
  {
    socialLinks.map((link) => (
      <a class="site-link" href={link.href}>
        {link.label}
      </a>
    ))
  }
</nav>
